menu "Cooking Thermometer configuration"

module = CT_MAIN
module-str = CT-Main
source "subsys/logging/Kconfig.template.log_config"

module = CT_BUTTONS
module-str = CT-Buttons
source "subsys/logging/Kconfig.template.log_config"

module = CT_DISPLAY
module-str = CT-Display
source "subsys/logging/Kconfig.template.log_config"

module = CT_TIME
module-str = CT-Time
source "subsys/logging/Kconfig.template.log_config"

module = CT_ADC
module-str = CT-ADC
source "subsys/logging/Kconfig.template.log_config"

module = CT_STATE
module-str = CT-State
source "subsys/logging/Kconfig.template.log_config"

module = CT_PROBE
module-str = CT-Probe
source "subsys/logging/Kconfig.template.log_config"

module = CT_BATTERY
module-str = CT-Battery
source "subsys/logging/Kconfig.template.log_config"

endmenu

source "Kconfig.zephyr"
