menu "Cooking Thermometer configuration"

module = CT_MAIN
module-str = CT-Main
source "subsys/logging/Kconfig.template.log_config"

module = CT_BUTTONS
module-str = CT-Buttons
source "subsys/logging/Kconfig.template.log_config"

module = CT_DISPLAY
module-str = CT-Display
source "subsys/logging/Kconfig.template.log_config"

endmenu

source "Kconfig.zephyr"
